@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    height: 100px;
}

.container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 200px;
}

.menu nav ul {
    display: flex;
}

.menu nav ul li {
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover {
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover {
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover {
    background: #69F1A1;
    color: #000;
}

#icon_menu {
    display: none;
}


.select{
    background: #3f7cb1;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
}
@media (max-width: 1024px) {

    .container__header,
    main {
        padding: 20px;
    }

    #icon_menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register {
        display: none;
    }

    .menu {
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
        transition: all 300ms;
    }

    .menu nav ul {
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li {
        padding: 10px 40px;
    }

    .mostrar_menu {
        /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1 {
        font-size: 40px;
    }

    .text__information-cover p {
        font-size: 16px;
    }

    .banner__text h2 {
        font-size: 22px;
    }

    #icon_heart {
        left: -60px;
    }

    .banner__icon-fire {
        right: -20px;
    }
}

@media (max-width: 920px) {
    .text__information-cover {
        width: 100%;
    }

    .media__cover {
        display: none;
    }

    .banner {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire {
        display: none;
    }

    #icon_heart {
        left: 0;
    }

    .banner__text {
        width: 100%;
        margin-top: -100px;
    }
}



/*Portada*/


.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(185, 222, 245, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: black;
    font-size: 20px;
    font-weight: 300;
}



.cover{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 30px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: #E8E8E8;
}





/********** AQUI COMIENZAN LAS TARJETAS*******/

.container__cards{
    width:100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.card:hover{
    transform: translateY(-10px);
}

.card:hover .cover__card img{
    transform: scale(1.1);
}

.cover__card{
    width: 100%;
    height: 180px;
    border-radius: 14px;
    overflow: hidden;
}

.cover__card img{
    width: 110%;
    transition: all 300ms;
}

.card h2{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    color: #16053d;
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #16053d;
    letter-spacing: 0.5px;
}

.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #16053d;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;
}


.botones {
    color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 8px 15px;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #c3c4df, #b7b2f0);
}

.botones:hover {
    cursor: pointer;
    width: 100%;
}

.botones span {
    margin-right: 10px;
    font-size: 20px;
}

@media screen and (max-width:2000px) {
    .container__cards{
        position: relative;
    top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}



/******CONTACTO****/
/*main {

 background-image: url(../media/fondodecontacto.png);
background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}*/



.formulario {
    background-image: url(../img/img2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}


.p {
    color: #FAFBFE;
    text-align: center;
    margin: 0;
    font-size: 15px;
    margin-bottom: 20px;
}

form {
    width: 500px;
    height: 800px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px 50px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}

form p {
    color: #FAFBFE;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 50px;
}

form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

.boton {
    background: #31384a;
    color: #FAFBFE;
    padding: 20px;
    font-size: 17px;
}

.boton:hover {
    cursor: pointer;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


@media (max-width: 480px) {
    form{
        width: 100%;
    }
}



/*Footer - pie de pagina*/

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover{
    background: #DE4C34;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
}


.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #c0c0c07a;
}


.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }


}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

}


@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }

    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #fff;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }

}